{% extends "base.html" %}

{% block title %}
Juster vekting
{% endblock %}

{% block content %}
    <h2>Juster vekting</h2>

    <form method="POST">
        <label>Økonomi:</label>
        <input type="number" step="1" name="economic" value="{{ weights.economic }}" required>
        <br>

        <label>Miljø:</label>
        <input type="number" step="1" name="environment" value="{{ weights.environment }}" required>
        <br>

        <label>social:</label>
        <input type="number" step="1" name="social" value="{{ weights.social }}" required>
        <br>

        <div style="margin-bottom: 20px;">
            <button>Beregn resultat</button>
        </div>
    </form>

    <a href="{{ url_for('question', reset=1) }}">
        <button type="button">Start på nytt</button>
    </a>
{% endblock %}